---
import Layout from '../layouts/Layout.astro';
import ArrowLink from '../components/ArrowLink.astro';
import CourseSelectCard from '../components/CourseSelectCard.astro';

const teachersList = await Astro.glob('../content/teachers/*.md')
const sortedTeacherList = teachersList.sort( ( a, b ) => {
  return a.frontmatter.order - b.frontmatter.order
} )

const courseList = await Astro.glob('../content/plans/*.md')
const sortedCourseList = courseList.sort( ( a, b ) => {
  return a.frontmatter.order - b.frontmatter.order
} )

---

<Layout title={ 'DOYOGA' } >
	<main>
    <!-- banner -->
    <section class="banner">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="offset-lg-1 col-lg-5">
            <p>健身輕時尚</p>
            <h2 class="h1">DOYOGA，做你的瑜珈</h2>
            <h3 class="mb-4">多給自己一點時間享受靜謐，傾聽內心的聲音。</h3>
            <div class="d-flex">
              <a href="/reservation" class="btn btn-m btn-bg btn-sm-rounded me-2">立即預約</a>
              <a href="/course-info" class="btn btn-m btn-secondary btn-sm-rounded">課程介紹</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about us -->
    <section class="layout-pt-m layout-pb-l">
      <div class="container">
        <h2 class="text-center text-primary mb-1">感受身心，活在當下</h2>
        <h4 class="text-center text-secondary layout-mb-s">DOYOGA 可以帶給你...</h4>
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-m card-text-light">
              <div class="card-body-col-end">
                <h4 class="mb-1">整體健身</h4>
                <p>每一個動作，都融入運動解剖學的的觀點強調以身體的中心線為出發點。</p>
              </div>
              <img src="public/card/card1.jpeg" alt="card img 1" class="card-bg">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-m card-text-light">
              <div class="card-body-col-end">
                <h4 class="mb-1">減壓放鬆</h4>
                <p>調節全身系統、改善血液循環、減壓養心、釋放身心，達到修心養性的目的。</p>
              </div>
              <img src="public/card/card2.jpeg" alt="card img 2" class="card-bg">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-m card-text-light">
              <div class="card-body-col-end">
                <h4 class="mb-1">局部雕塑</h4>
                <p>幫助強化背部與腹部的核心肌群，增進我們身體穩定度以及保持良好體態。</p>
              </div>
              <img src="public/card/card3.jpeg" alt="card img 3" class="card-bg">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- teacher's info -->
    <section class="layout-py-l bg-bg position-relative">
      <div class="container position-relative z-index-1">
        <div class="row">
          <div class="offset-lg-5 col-lg-7 card-xl pt-x3">
            <div class="d-flex flex-column align-items-end">
              <h3 class="text-primary mb-1 w-85">頂尖師資、專業教學</h3>
              <h4 class="text-secondary mb-6 w-85">強力師資，經歷豐富，協會認證。運用引導式教學，針對不同需求的人制定專屬課程。</h4>
            </div>
            <ul class="list-unstyled d-flex flex-column align-items-end gap-6 teachter-list">
              { sortedTeacherList.map( ( teacher ) => ( 
                <li class="card card-px-l bg-light teacher-card">
                  <div class="card-body-hori">
                    <div class="card-img-wrapper me-5">
                      <img src={ teacher.frontmatter.image.url } alt="" class="w-100 object-cover" />
                    </div>
                    <div class="">
                      <h4 class="mb-1">{ teacher.frontmatter.title } 老師</h4>
                      <p class="mb-1">教學經歷{ teacher.frontmatter.seniority }年</p>
                      <p class="descrition">{ teacher.frontmatter.description }</p>
                    </div>
                  </div>
                </li>
              ) ) }
            </ul>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 h-100 start-0 top-0 pe-none layout-py-l">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="card-xl overflow-hidden rounded-16px">
                <img src="/card/card8.jpeg" alt="" class="img-setting">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- env intro -->
    <section class="layout-py-l">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-p-0 card-l">
              <img src="/public/card/card10.jpg" alt="" class="img-setting">
            </div>
          </div>
          <div class="col-lg-2">
            <div class="d-flex flex-column justify-content-between h-100">
              <div class="card card-sm card-p-0">
                <img src="/public/card/card10.jpg" alt="" class="img-setting">
              </div>
              <div class="card card-sm card-p-0">
                <img src="/public/card/card9.jpg" alt="" class="img-setting">
              </div>
            </div>
          </div>
          <div class="col-lg-5 align-self-center">
            <h3 class="text-primary mb-1">舒適空間、靜心放鬆</h3>
            <h4 class="text-secondary mb-6">我們都渴望平靜安穩的生活，擁有一處能夠靜心的角落，安撫每天繁雜忙碌的心。</h4>
            <ArrowLink title={ '環境介紹' } link={ '/env' } />
          </div>
        </div>
      </div>
    </section>
    <!-- course info -->
    <div class="layout-py-l bg-bg overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="offset-lg-1 col-lg-5 align-self-center">
            <h3 class="text-primary mb-1">精心設計、課程多元</h3>
            <h4 class="text-secondary mb-6">教師帶領多元課程，釋放壓力，與身心常見的緊繃不適溫柔和解。</h4>
            <ArrowLink title={ '課程介紹' } link={ '/course-info' } />
          </div>
          <div class="col-lg-6 position-relative">
            <div class="course-swiper swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="/public/swiper/swiper-1.jpg" alt="" class="img-setting">
                </div>
                <div class="swiper-slide">
                  <img src="/public/swiper/swiper-2.jpg" alt="" class="img-setting">
                </div>
                <div class="swiper-slide">
                  <img src="/public/swiper/swiper-3.jpg" alt="" class="img-setting">
                </div>
                <div class="swiper-slide">
                  <img src="/public/swiper/swiper-4.jpg" alt="" class="img-setting">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- course select -->
    <section class="layout-pt-m layout-pb-l container">
      <h3 class="text-primary text-center mb-2">方案選擇</h3>
      <h4 class="tex-secondary text-center layout-mb-s">DOYOGA 可以帶給你...</h4>
      <div class="row">
        { sortedCourseList.map( ( course, key ) => (
          <div class="col-lg-4">
            <CourseSelectCard
              imgUrl={ course.frontmatter.image.url }
              title = { course.frontmatter.title }
              cost = { course.frontmatter.cost }
              description = { course.frontmatter.description }
              link = { `/reservation-form?course=${ course.frontmatter.title }` }
            />
            
          </div>
        ) ) }
      </div>
    </section>
	</main>

  <script>
    import Swiper from 'swiper'
    const courseSwiper = new Swiper( '.course-swiper' , {
      slidesPerView: 'auto',
      spaceBetween: 30,
      loop: true,
    })
  </script>
</Layout>