---
const { imgUrl, title, cost, description, link } = Astro.props
---
<div class="card card-p-0 border border-secondary">
  <div class="card-img-wrapper">
    <img src={ imgUrl } alt="" class="card-img card-img-m" />
  </div>
  <div class="card-body">
    <h4 class="text-primary text-center mb-1">
      { title }
    </h4>
    <p class="h4 text-center text-secondary mb-2">
      { cost }
    </p>
    <p class="mb-10">
      { description }
    </p>
    <a href={ link } class="btn btn-m btn-sm-rounded btn-secondary text-center">
      選擇課程
    </a>
  </div>
</div>