---
---
<footer>
  <section class="bg-primary layout-py-s border-bottom border-light">
    <div class="container">
      <div class="d-flex justify-content-between">
        <h3 class="text-light">
          現在訂閱，獲得課程優惠碼！
        </h3>
        <form>
          <div class="input-group w-auto">
            <input type="email" class="form-control border-secondary py-2 px-4" placeholder="輸入您的電子信箱" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button type="submit" class="input-group-text bg-secondary py-2 px-4 text-light border-secondary" id="basic-addon2">訂閱</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="bg-primary layout-py-s">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 align-self-end">
        <p class="text-light text-center">© 2021. All Rights Reserved.</p>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </section>
</footer>